@font-face {
    font-family: myFont;
    src: url("ZCOOLXiaoWei-Regular.ttf");
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
    display: flex;
    padding: 10px;
    background: orange;
    justify-content: center;
}

.site-layout-background {
    text-align: center;
    background-color: white;
}

h1 {
    font-family: myFont;
    font-size: 20px;
}

.content-container {
    margin: 16px 0;
    min-height: 360px;
}

.tab-container {
    padding: 0 20px ;
}

.ant-tabs-tab-btn {
    font-family: myFont;
}

.form-wrap {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-form {
    margin: 50px 0 0 -60px;
    max-width: 400px;
}

.alert-container {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}

.alert-item {
    position: relative;
    width: 400px;
}